<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2>/ about me</h2>
          <h3>a very short summary</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
      <p>I studied <span class="important">computer science</span> and specialized in <span class="important">human-computer interaction</span> and <span class="important">usability</span>. I live in Berlin since 2007. I love to <span class="important">create</span> things for humans and I am curious about <span class="important">learning</span> new skills. It is inspiring to work in interdisciplinary <span class="important">teams</span>. I like to share things I am passionate about.</p>
      <img src="{{ site.baseurl }}img/me.png" alt="It is me." class="img-circle img-responsive">
      </div>
    </div>
  </div>
</section>